{% extends 'base.html' %}
{% from 'macros.html' import render_field, render_show_card, render_pagination %}

{% block title %}
Shows
{% endblock %}

{% block content %}
<div class="mx-5">
    <div class="row">
        <!-- Filters section -->
        <div class="col-4">
            <h1 class="text-center">Filter</h1>

            <!-- Filters form -->
            <form method="get" action="{{ url_for('shows.get_shows') }}">
                <!-- Search -->
                <div class="my-2">
                    {{ render_field(form.search, placeholder="Search by title or description") }}
                </div>
                <!-- Search -->

                <!-- Release year -->
                <div class="my-2">
                    {{ render_field(form.release_year, with_errors=True, placeholder="Value between 1888 and 2022") }}
                </div>
                <!-- Release year -->

                <!-- Duration -->
                <h6>Duration</h6>
                <p class="text-secondary">
                    Duration is interpreted as minutes for movies and as seasons for TV shows
                </p>
                <div class="border">
                    <div class="m-2">
                        <div class="form-group my-2">
                            {{ render_field(form.duration_min, with_errors=True, placeholder="Enter value...") }}
                        </div>
                        <div class="form-group my-2">
                            {{ render_field(form.duration_max, with_errors=True, placeholder="Enter value...") }}
                        </div>
                    </div>
                </div>
                <!-- Duration -->

                <!-- Per page -->

                <div class="form-group my-2">
                    {{ render_field(form.per_page, with_errors=True) }}
                </div>
                <!-- Per page -->

                <!-- Radios and checkboxes -->
                <div class="row">
                    <div class="col-6">
                        <div>
                            {{ render_field(form.countries) }}
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            {{ render_field(form.show_type) }}
                        </div>
                        <div>
                            {{ render_field(form.rating) }}
                        </div>
                        <div>
                            {{ render_field(form.genres) }}
                        </div>
                    </div>
                </div>
                <!-- Radios and checkboxes -->

                <!-- Submit -->
                <input class="btn btn-primary" type="submit" value="Filter">
                <!-- Submit -->

            </form>
            <!--  Filters form end  -->

        </div>
        <!--    Filters section end    -->

        <!--   Shows display section     -->
        <div class="col-8">
            <h1 class="text-center">Shows</h1>

            <!-- Results message -->
            <p class="text-center"><i>{{ page.total }} results</i></p>
            {% if not shows %}
            <p>Nothing found :(</p>
            <!-- Results message -->

            <!-- Show cards-->
            {% else %}
            {% for show in shows %}
                {{ render_show_card(show) }}
            {% endfor %}
            <!-- Show cards-->

            {% endif %}

            <!-- Pagination -->
            {{ render_pagination(page, view_name='shows.get_shows', search_query=query) }}
            <!-- Pagination -->

        </div>
        <!--   Shows display section end     -->

    </div>
</div>
{% endblock %}