{% macro render_field(field, class_="form-control", label_class="form-label", placeholder="", with_errors=False) %}
    {{ field.label(class_=label_class)|safe }}
    {{ field(class_=class_, placeholder=placeholder)|safe }}
    {% if with_errors %}
        <ul class="text-danger">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

<!-- TODO: remove repeating code -->
{% macro render_show_card(show) %}
        <div class="card my-2">
            <div class="card-header">
                <h3><a href="{{ show.show_id }}">{{ show.title }} ({{ show.release_year }})</a></h3>
            </div>
            <div class="card-body">
                <p class="card-text my-1">
                    {{ show.type.value }} {% if show.country %}
                    ({% for country in show.country %}
                    {{ country.name }}{% if not loop.last %}{{ ', ' }}{% endif %}
                    {% endfor %})
                    {% endif %}
                </p>

                <p class="card-text my-1">
                    Duration: {{ show.duration }}
                    {% if show.type.value == "Movie" %}
                    minutes
                    {% else %}
                    season(s)
                    {% endif %}
                </p>
                <p class="card-text my-1">
                    Rating: {{ show.rating.code }}
                </p>

                {% if show.listed_in %}
                <p class="card-text my-1">
                    Genres:
                    {% for genre in show.listed_in %}
                    {{ genre.name }}{% if not loop.last %}{{ ', ' }}{% endif %}
                    {% endfor %}
                </p>
                {% endif %}

                {% if show.director %}
                <p class="card-text my-1">
                    Directors:
                    {% for director in show.director %}
                    <a href="{{ url_for('persons.get_person', person_id=director.id) }}">
                        {{ director.fullname }}
                    </a>
                    {% if not loop.last %}{{ ', ' }}{% endif %}
                    {% endfor %}
                </p>
                {% endif %}

                {% if show.cast %}
                <p class="card-text my-1">
                    Cast:
                    {% for actor in show.cast %}
                    <a href="{{ url_for('persons.get_person', person_id=actor.id) }}">
                        {{ actor.fullname }}
                    </a>
                    {% if not loop.last %}{{ ', ' }}{% endif %}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
        </div>
{% endmacro %}


{% macro render_person_shows(shows) %}
    {% for show in shows %}
    <p>
        <a href="{{ url_for('shows.get_show', show_id=show.show_id) }}">{{ show.title }}</a>
    </p>
    {% endfor %}
{% endmacro %}

{% macro render_pagination(page, view_name, search_query) %}
    {% set query = search_query %}
    <nav>
        <ul class="pagination justify-content-center">

            {% if page.has_previous %}
            <li class="page-item">
                <a
                        class="page-link"
                        href="{{ url_for(view_name, page=page.previous_page, **query) }}">
                    Previous
                </a>
                {% if page.previous_page != 1 %}
            <li class="page-item">
                <a
                        class="page-link"
                        href="{{ url_for(view_name, page=1, **query) }}">
                    1
                </a>
            </li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            {% endif %}

            <li class="page-item">
                <a
                        class="page-link"
                        href="{{ url_for(view_name, page=page.previous_page, **query) }}">
                    {{ page.previous_page }}
                </a>
            </li>
            {% endif %}
            <li class="page-item active"><a class="page-link">{{ page.page }}</a></li>

            {% if page.has_next %}
            <li class="page-item">
                <a
                        class="page-link"
                        href="{{ url_for(view_name, page=page.next_page, **query) }}">
                    {{ page.next_page }}
                </a>
            </li>
            {% if page.next_page != page.pages %}
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item ">
                <a
                        class="page-link"
                        href="{{ url_for(view_name,  page=page.pages, **query) }}">
                    {{ page.pages }}
                </a>
            </li>
            {% endif %}
            <li class="page-item">
                <a
                        class="page-link"
                        href="{{ url_for(view_name, page=page.next_page, **query) }}">
                    Next
                </a>
                {% endif %}
        </ul>
    </nav>
{% endmacro %}