{% extends 'base.html' %}
{% from 'macros.html' import render_field, render_pagination %}

{% block title %}
Persons
{% endblock %}

{% block content %}
<div class="mx-5">
    <div class="row">
        <!-- Filters -->
        <div class="col-4">
            <h1 class="text-center">Filter</h1>
            <form method="get">
                <div class="form-group my-2">
                    {{ render_field(form.search, placeholder="Search by name") }}
                </div>
                <div class="form-group my-2">
                    {{ render_field(form.per_page, with_errors=True) }}
                </div>
                <input type="submit" class="btn btn-primary" value="Search"/>
            </form>
        </div>
        <!-- Filters -->

        <!-- Search results -->
        <div class="col-8">
            <h1 class="text-center">Persons</h1>
            <p class="text-center">
                <i>{{ page.total }} results </i>
            </p>
            {% if persons %}
            <div class="list-group">

                {% for person in persons %}
                <div class="my-1 w-50">
                    <a class="list-group-item list-group-item-action"
                       href="{{ url_for('persons.get_person', person_id=person.id) }}">
                        {{ person.fullname }}
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>Nothing was found :(</p>
            {% endif %}

            <!-- Pagination -->
            {{ render_pagination(page, view_name='persons.get_persons', search_query=query) }}
            <!-- Pagination -->
        </div>
        <!-- Search results -->

    </div>
</div>
{% endblock %}
